html,
body {
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  cursor:pointer;
  text-decoration:underline;
}
* {
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@font-face {
  font-family: "IRANYEKAN";
  font-style: normal;
  ascent-override: 99%;
  src: url("/assets/fonts/iran-yekan/Qs_Iranyekan.ttf");
  font-display: swap;
}